<ng-template [cxOutlet]="StorefrontOutlets.STOREFRONT" cxPageTemplateStyle>
  <ng-template cxOutlet="cx-header">
    <header
      id="cx-header"
      cxSkipLink="cx-header"
      [cxFocus]="focusConfig"
      [class.is-expanded]="isExpanded$ | async"
      (keydown.escape)="collapseMenu()"
      (click)="collapseMenuIfClickOutside($event)"
    >
      <app-es-header [cxSkipFocus]="skipFocusConfig"></app-es-header>
    </header>
  </ng-template>

  <main cxSkipLink="cx-main" [cxFocus]="{ disableMouseFocus: true }">
    <router-outlet></router-outlet>
  </main>

  <ng-template cxOutlet="cx-footer">
    <footer
      id="cx-footer"
      cxSkipLink="cx-footer"
      [cxFocus]="{ disableMouseFocus: true }"
    >
      <app-es-footer></app-es-footer>
    </footer>
  </ng-template>
</ng-template>
