app-es-navigation-ui {
  @extend %cx-navigation-ui;
}

@include media-breakpoint-up(lg) {
  app-es-navigation-ui nav {
    li {
      > cx-generic-link > a {
        padding-top: 10px;
        padding-bottom: 12px;
        padding-inline-start: 0;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    li > div > cx-generic-link {
      padding: 10px 0;
    }
    ul.childs > li > cx-generic-link > a {
      padding: 5px 0;
      @include forFeature('a11yOptimizedMenuSpacing') {
        padding: 0;
      }
    }
    ul.childs > li > button:hover {
      color: var(--cx-color-text);
    }
    ul.childs > li > cx-generic-link > a:hover {
      color: var(--cx-color-text);
      text-decoration: underline;
    }
  }
}

app-es-category-navigation {
  @extend %cx-category-navigation;

  span,
  button:not(cx-generic-link + button),
  app-es-navigation-ui > nav > ul > li > cx-generic-link {
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
  }

  @include forFeature('a11yNavigationButtonsAriaFixes') {
    h4 {
      text-transform: uppercase;
      font-weight: 600;
      width: 100%;
    }
  }

  li {
    list-style: none;
  }

  app-es-navigation-ui > nav > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    > li {
      list-style: none;
      display: flex;

      @include media-breakpoint-up(lg) {
        padding-inline-end: 15px;
        padding-inline-start: 15px;
      }

      @include media-breakpoint-up(lg) {
        > .wrapper {
          margin-top: $header-height;
        }
      }
    }
  }

  app-es-navigation-ui.flyout {
    @include media-breakpoint-down(md) {
      &.is-open {
        li.is-open:not(.back) {
          > span {
            display: none;
          }
        }
      }
    }
  }
}
