app-es-facet-list {
  @extend %cx-facet-list;
}

app-es-active-facets {
  @extend %cx-active-facets;
}

app-es-product-list {
  @extend %cx-product-list;
}

app-es-product-grid-item {
  @extend %cx-product-grid-item;
}

app-es-product-list-item {
  @extend %cx-product-list-item;
}

app-es-product-view {
  @extend %cx-product-view;
}

app-es-pagination {
  @extend %cx-pagination;
}

app-es-product-list {
  .es-sorting-view-row {
    align-items: center;
    row-gap: 0.75rem;
  }

  .es-product-view-col {
    display: flex;
    align-items: center;
    margin-inline-start: 0.75rem;
  }

  @media (max-width: 991.98px) {
    .es-product-view-col {
      margin-inline-start: 0;
    }
  }
}
